.registration {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.registration-content-form {
    display: flex;
    flex-direction: column;
}

@mixin fontfam($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

.form-txt {
    @include fontfam(300, 16px, 19px);
    color: #222222;
    margin-bottom: 20px;
}

.registration-content-form__heading {
    @extend .form-txt;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.form-bd {
    border: 1px solid #A4A4A4;
    width: 325px;
    height: 44px;
    padding: 0 17px;
    margin-bottom: 20px;
}

.registration-form__input {
    @extend .form-bd;
}

.registration-form__input:last-of-type {
    margin-bottom: 15px;
}

.registration-form__input::placeholder {
    @include fontfam(300, 13px, 16px);
    color: #B1B1B1;
}

.registration-form__radio {
    display: flex;
    align-items: center;
    margin: 16px 0 33px 0;
}

.registration-form__radio__label {
    @include fontfam(300, 11px, 13px);
    color: #000000;
    margin: 0 20px 0 10px;
}

.registration-content__txt {
    @include fontfam(300, 13px, 16px);
    color: #B1B1B1;
    width: 359px;
}

.registration-content__btn {
    width: 167px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F16D7F;
    border: none;
    margin-top: 39px;
    cursor: pointer;
}

.registration-content__btn__txt {
    @include fontfam(400, 14px, 17px);
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 20px;
}

.registration-content-info {
    display: flex;
    flex-direction: column;
    margin-left: 128px;
}

.registration-content-info__heading {
    @include fontfam(300, 24px, 29px);
    color: #000000;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 22px;
}

.registration-content-info__txt {
    @include fontfam(300, 24px, 29px);
    color: #000000;
    margin-bottom: 21px;
}

.registration-content-info__list {
    list-style-type: none;
    list-style-image: url(img/tick-symbol.svg);
    margin-left: 25px;
}

.registration-content-info__list__item {
    @include fontfam(300, 24px, 29px);
    color: #000000;
    margin-bottom: 16px;
    padding-left: 18px;
}