* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.navigation {
    background-color: #222222;
    padding-top: 18px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    width: 111px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.logo_padding {
    padding-top: 39px;
    padding-bottom: 19px;
}

.search_padding {
    padding: 33px 0 22px;
}

.nav-right {
    width: 168px;
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.menu_padding {
    padding: 30px 0 27px;
}

.profile_padding {
    padding: 34px 0 20px;
}

.basket_padding {
    padding: 43px 0 13px;
}

.profile-margin {
    margin-bottom: 3px;
}

.basket-margin {
    margin-bottom: 10px;
}

.menu-list {
    position: relative;
}

.menu-box {
    top: 53px;
    position: absolute;
    background-color: #FFFFFF;
    width: 232px;
    height: 764px;
    display: none;
    flex-direction: column;
}

.menu-list:hover .menu-box {
    display: flex;
}

.menu-main-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    padding-top: 37px;
    padding-bottom: 24px;
    padding-left: 34px;
}

.menu-heading {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-left: 33px;
}

.menu-link {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-bottom: 11px;
    padding-left: 55px;
}

.menu-link:last-of-type {
    margin-bottom: 20px;
}

.menu-link:hover {
    color: #F16D7F;
}


.header {
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.header_back {
    min-height: 764px;
    background-image: url(img/man.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.header_text {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding-top: 290px;
    margin-bottom: 381px;
    margin-right: 100px;
}

.title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    text-transform: uppercase;
}

.header_p {
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #222222;
    text-transform: uppercase;
}

.span_text {
    color: #F16D7F;
}

.header_text_steek {
    width: 12px;
    height: 92px;
    background: #F16D7F;
    margin-right: 16px;
}

.photos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.photo {
    background: rgba(33, 22, 22, 0.7);
    position: relative;
}

.photo_image {
    width: 100%;
}

.photos_text {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    top: 105px;
    left: 103px;
}

.photos_span {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.accesories_text {
    top: 65px;
    left: 490px;
}